---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ahmad Mehrabi
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://manuelernestog.github.io" target="_blank" class="font-bold">Ahmad Mehrabi</a>
  </div>
</footer>
<style></style>
