<div class="sticky top-0 z-30 flex h-16 w-full justify-between bg-white bg-opacity-90 backdrop-blur-md shadow-sm transition-all duration-100 text-gray-900">
  <div class="flex w-full max-w-6xl mx-auto items-center px-4">
    <div class="flex items-center">
      <label for="my-drawer" class="btn btn-ghost btn-square lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="w-5 h-5 stroke-current"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </label>
    </div>
    <div class="flex-grow text-center lg:mr-0">
      <a class="text-xl font-semibold text-gray-900 hover:text-indigo-600" href="/">
        Ahmad Mehrabi ⚡️
      </a>
    </div>
    <div class="flex items-center justify-end lg:justify-start">
      <!-- Additional items can go here if needed -->
    </div>
  </div>
</div>
